<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container">
    <a class="navbar-brand" href="/">
      <%= image_tag 'dpi-logo-blue.svg', alt: "Discovery Partners Institute Logo", height: "50", class: "rounded" %>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to 'Courses', courses_path, class: "nav-link" %>
        </li>
        <li class="nav-item me-auto">
          <%= link_to 'Lessons', lessons_path, class: "nav-link" %>
        </li>
        <% if Current.user %>
          <li class="nav-item">
            <%= button_to 'Sign Out', session_path, class: "nav-link", method: :delete %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to 'Sign In', new_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
      <div class="ms-auto">
        <%= render "shared/theme_toggle" %>
      </div>
    </div>
  </div>
</nav>
