<% active_tab = @active_tab || lesson.github_repository_url.present? ? :github : :plain %>

<ul class="nav nav-tabs" id="lessonTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link <%= active_tab == :plain && 'active' %>" id="plain-tab" data-bs-toggle="tab" data-bs-target="#plain" type="button" role="tab">Plain Lesson</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link <%= active_tab == :github && 'active' %>" id="github-tab" data-bs-toggle="tab" data-bs-target="#github" type="button" role="tab">GitHub Lesson</button>
  </li>
</ul>

<%= form_with(model: lesson) do |form| %>
  <% if lesson.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(lesson.errors.count, "error") %> prohibited this lesson from being saved:</h2>

      <ul>
        <% lesson.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="tab-content mt-3" id="lessonTabContent">
    <!-- Plain Lesson Tab -->
    <div class="tab-pane fade <%= active_tab == :plain && 'show active' %>" id="plain" role="tabpanel">
      
      
      <div class="mb-3">
        <%= form.label :title, class: "form-label" %>
        <%= form.text_field :title, class: "form-control" %>
      </div>

      <div class="mb-3">
        <%= form.label :description, class: "form-label" %>
        <%= form.text_area :description, class: "form-control" %>
      </div>

      <div class="mb-3">
        <%= form.label :content, class: "form-label" %>
        <%= form.text_area :content, class: "form-control" %>
      </div>
    </div>

    <!-- GitHub Lesson Tab -->
    <div class="tab-pane fade <%= active_tab == :github && 'show active' %>" id="github" role="tabpanel">
      <div class="mb-3">
        <%= form.label :github_repository_url, class: "form-label" %>
        <%= form.text_field :github_repository_url, class: "form-control" %>
        <div id="lesson_github_repository_url_help" class="form-text">
          Plain lesson fields (title, description, content, etc.) are over written if github repository url present
        </div>
      </div>

      <div class="mb-3">
        <%= form.label :github_repository_branch, class: "form-label" %>
        <%= form.text_field :github_repository_branch, class: "form-control" %>
      </div>
    </div>
  </div>

  <div>
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
