<div id="<%= dom_id lesson %>" class="lesson">

  <div class="d-flex justify-content-between align-items-center flex-wrap">
    <%= render "shared/breadcrumbs" %>
    <%= render "nav",  course_lesson: @course_lesson %>
    <%= render "actions", lesson: lesson %>
  </div>

  <% unless @lesson.github_repository_url.present? %>
    <h1><%= @lesson.title %></h1>
    <p><%= @lesson.description %></p>
  <% end %>
  <%= render_lesson_markdown(@lesson.content) %>
</div>
