<div id="<%= dom_id lesson %>" class="lesson">
  <%= render "actions", lesson: lesson %>
  <% unless @lesson.github_repository_url.present? %>
    <h1><%= @lesson.title %></h1>
    <p><%= @lesson.description %></p>
  <% end %>
  <%= render_lesson_markdown(@lesson.content) %>
</div>
