<!DOCTYPE html>
<html>
  <head>
    <%= yield :head %>
    <%= render "shared/meta_tags" %>
    <%= render "shared/cdn_links" %>
    <%= render "shared/favicons" %>
    <%= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <%= render "shared/navbar" %>
      <%= render "shared/flash" %>
      <div class="container d-flex justify-content-between align-items-center flex-wrap">
        <%= render "shared/breadcrumbs" %>
        <%= render "course_lessons/nav",  course_lesson: @course_lesson %>
      </div>
    </header>
    <main>
      <%= yield %>
    </main>
    <%= render "shared/footer" %>
  </body>
</html>
